.wrapper__item--mod {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper__block-player {
    display: flex;
    justify-content: center;
    align-items: center;
}

img.player {
    width: 50%;
    z-index: 49;
    position: absolute;
    padding-top: 1.8%;
}

img.vinyl {
    width: 40%;
    z-index: 50;
    transition: all 300s;
}

.wrapper__block-player:hover .vinyl {
    transform: rotateZ(50000deg);
    transition: all 100s;
}

.wrapper__block-player:active .vinyl {
    transform: none;
}

.wrapper__item--spec_left:active .speaker_left {
    transform: skew(-5deg, 15deg);
}

.wrapper__item--spec_right:active .speaker_right {
    transform: skew(5deg, -15deg);
}