img.player {
    width: 50%;
    z-index: 49;
    position: absolute;
    padding-top: 1.8%;
}

img.vinyl {
    width: 40%;
    z-index: 51;
}

.wrapper__item--mod {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vinyl:hover {
    animation-name: rotate_vinyl;
    animation-duration: 300s;
    animation-iteration-count: infinite;

}

@keyframes rotate_vinyl {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-50200deg)
    }
}