.wrapper__item--body {
    width: 50%;
    display: flex;
    position: relative;
    justify-content: center;
    z-index: 50;

    .element-body-up {
        width: 22%;
        position: absolute;
        top: 35%;
        z-index: 50;
    }

    .sun_eyes_up {
        display: none;
    }

    .sunglasses {
        display: none;
    }

    .element-body-up:hover .sun_eyes_down {
        display: none;
    }

    .element-body-up:hover .sun_eyes_up {
        display: block;
    }

    .element-body-up:active .sun_eyes_up,
    .element-body-up:active .sun_eyes_down {
        display: none;
    }

    .element-body-up:active {
        position: absolute;
        width: 70%;
        rotate: 8deg;
        top: 26%;

    }

    .element-body-up:active .sunglasses {
        display: block;
    }

    .element-body-down {
        width: 20%;
        position: absolute;
        bottom: 32%;
        z-index: 50;
        transform: scaleX(-1);
    }

    .sun_mouth_angry {
        display: none;
    }

    .element-body-down:active .sun_mouth_smile {
        display: none;
    }

    .element-body-down:active .sun_mouth_angry {
        display: block;
    }

    .element-body-down:active {
        transform: scaleX(-1);
        bottom: 35%;
    }

    .sun_body:hover {
        animation-name: rotate;
        animation-duration: 90s;
        animation-iteration-count: infinite;
    }

    @keyframes rotate {
        0% {
            transform: rotate(0);
        }

        100% {
            transform: rotate(5200deg)
        }
    }
}

.wrapper__line--mod {
    display: flex;
    justify-content: center;
}

.wrapper__item--hand-right {
    padding-top: 33%;
    width: 15%;
    left: 7%;
    transition: all 0.5s;
}

.wrapper__item--hand-left {
    padding-top: 33%;
    width: 15%;
    right: 7%;
    transition: all 0.5s;
}


.right_hand_four {
    rotate: -75deg;
}

.left_hand_four {
    transform: scaleX(-1);
    rotate: 75deg;
}

.left_hand_like {
    transform: scaleX(-1);
}

.wrapper__block-right_hand_like,
.wrapper__block-left_hand_like {
    display: none;
}

.wrapper__item--hand-right:active .wrapper__block-right_hand_four,
.wrapper__item--hand-left:active .wrapper__block-left_hand_four {
    display: none;
}

.wrapper__item--hand-right:active .wrapper__block-right_hand_like,
.wrapper__item--hand-left:active .wrapper__block-left_hand_like {
    display: block;
}

.wrapper__item--hand-right:active {
    left: 17%;
    z-index: 51;
}

.wrapper__item--hand-left:active {
    right: 17%;
    z-index: 50;
}

.wrapper__item--youtube,
.wrapper__item--google_maps {
    width: 10%;
    .wrapper__img--youtube,
    .wrapper__img--google_maps {
        padding: 0 10%;
        border-radius: 30px;
        border: 8px solid #000;
        box-shadow: -5px -9px 13px 3px #142142;
        
    }

}

.wrapper__item--youtube:hover .wrapper__img--youtube,
.wrapper__item--google_maps:hover .wrapper__img--google_maps {
    background-color: #F6A900;
}

.wrapper__item--youtube:active .wrapper__img--youtube,
.wrapper__item--google_maps:active .wrapper__img--google_maps {
    width: 120%;
    transition: all 0.5s;
}