* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  background: url("../images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  font-size: 2rem;
  color: yellow;
}

img {
  width: 100%;
}

.wrapper {
  padding: 2%;
}

.wrapper__line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wrapper__item {
  text-align: center;
  position: relative;
}

.wrapper__item--body {
  width: 50%;
  display: flex;
  justify-content: center;
  z-index: 51;
}
.wrapper__item--body .element-body-up {
  width: 22%;
  position: absolute;
  top: 35%;
  z-index: 52;
}
.wrapper__item--body .sun_eyes_up {
  display: none;
}
.wrapper__item--body .sunglasses {
  display: none;
}
.wrapper__item--body .element-body-up:hover .sun_eyes_down {
  display: none;
}
.wrapper__item--body .element-body-up:hover .sun_eyes_up {
  display: block;
}
.wrapper__item--body .element-body-up:active .sun_eyes_up,
.wrapper__item--body .element-body-up:active .sun_eyes_down {
  display: none;
}
.wrapper__item--body .element-body-up:active {
  position: absolute;
  width: 70%;
  rotate: 8deg;
  top: 26%;
}
.wrapper__item--body .element-body-up:active .sunglasses {
  display: block;
}
.wrapper__item--body .element-body-down {
  width: 20%;
  position: absolute;
  bottom: 32%;
  z-index: 52;
  transform: scaleX(-1);
}
.wrapper__item--body .sun_mouth_angry {
  display: none;
}
.wrapper__item--body .element-body-down:active .sun_mouth_smile {
  display: none;
}
.wrapper__item--body .element-body-down:active .sun_mouth_angry {
  display: block;
}
.wrapper__item--body .element-body-down:active {
  transform: scaleX(-1);
  bottom: 35%;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(5200deg);
  }
}
.wrapper__item--body .sun_body:hover {
  animation: rotate;
  animation-duration: 90s;
  animation-iteration-count: infinite;
}

@keyframes jump {
  1% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(-50%);
  }
}
.wrapper__item--body:active {
  animation: jump 0.29s infinite alternate forwards;
}

.wrapper__line--mod {
  display: flex;
  justify-content: center;
}

.wrapper__item--hand-right,
.wrapper__item--hand-left {
  padding-top: 28%;
  width: 15%;
  transition: all 0.5s;
}

.wrapper__item--hand-right {
  left: 7%;
}

.wrapper__item--hand-left {
  right: 7%;
}

.right_hand_four {
  rotate: -75deg;
}

.left_hand_four {
  transform: scaleX(-1);
  rotate: 75deg;
}

.left_hand_like {
  transform: scaleX(-1);
}

.wrapper__block-right_hand_like,
.wrapper__block-left_hand_like {
  display: none;
}

.wrapper__item--hand-right:active .wrapper__block-right_hand_four,
.wrapper__item--hand-left:active .wrapper__block-left_hand_four {
  display: none;
}

.wrapper__item--hand-right:active .wrapper__block-right_hand_like,
.wrapper__item--hand-left:active .wrapper__block-left_hand_like {
  display: block;
}

.wrapper__item--hand-right:active {
  left: 17%;
  z-index: 52;
  transform: scale(1.3);
}

.wrapper__item--hand-left:active {
  right: 17%;
  z-index: 52;
  transform: scale(1.3);
}

.wrapper__item--youtube,
.wrapper__item--google_maps {
  width: 10%;
}
.wrapper__item--youtube .wrapper__img--youtube,
.wrapper__item--youtube .wrapper__img--google_maps,
.wrapper__item--google_maps .wrapper__img--youtube,
.wrapper__item--google_maps .wrapper__img--google_maps {
  padding: 0 10%;
  border-radius: 30px;
  border: 8px solid #000;
  box-shadow: -5px -9px 13px 3px #142142;
  transition: all 0.5s;
}
.wrapper__item--youtube .wrapper__img--youtube,
.wrapper__item--google_maps .wrapper__img--youtube {
  float: left;
}
.wrapper__item--youtube .wrapper__img--google_maps,
.wrapper__item--google_maps .wrapper__img--google_maps {
  float: right;
}

.wrapper__item--youtube {
  left: 6%;
}

.wrapper__item--google_maps {
  right: 6%;
}

.wrapper__img--youtube:hover,
.wrapper__img--google_maps:hover {
  background-color: #F6A900;
  width: 140%;
  transition: all 0.5s;
}

.wrapper__item--mod {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper__block-player {
  display: flex;
  justify-content: center;
  align-items: center;
}

img.player {
  width: 50%;
  z-index: 49;
  position: absolute;
  padding-top: 1.8%;
}

img.vinyl {
  width: 40%;
  z-index: 50;
  transition: all 300s;
}

.wrapper__block-player:hover .vinyl {
  transform: rotateZ(50000deg);
  transition: all 100s;
}

.wrapper__block-player:active .vinyl {
  transform: none;
}

.wrapper__item--spec_left:active .speaker_left {
  transform: skew(-5deg, 15deg);
}

.wrapper__item--spec_right:active .speaker_right {
  transform: skew(5deg, -15deg);
}

iframe {
  width: 55%;
  height: 28vw;
  border-radius: 30px;
  border: 8px solid #000;
  box-shadow: -5px -9px 13px 3px #142142;
  margin-bottom: 2%;
}

.wrapper__img--back {
  width: 40%;
  transition: all 0.5s;
}

.wrapper__img--back:hover {
  width: 50%;
  transition: all 0.5s;
}/*# sourceMappingURL=style.css.map */